@model IQueryable<Product>

<div class="row my-3">
    @foreach (Product product in Model)
    {
        <partial name="_ProductCard" model="@product" />
    }
</div>

@section Footer {
    <div>
        Only for Index footer
    </div>
}